/* Cores iniciais
cor1:#5968b1;
cor2:#302579;

shade da cor3:#121523;
*/

/* ****************************************
                 HEADER
**************************************** */
.logo {
  height: 8rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5968b1;
  height: 9rem;
  padding: 0 4.8rem;
  /* border-bottom: 1px solid #121523; */
}

/* ****************************************
                 NAV BAR
**************************************** */

.main-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8rem;
}

.main-nav--link:link,
.main-nav--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #121523;
  text-transform: uppercase;
  font-size: 2rem;
  transition: all 0.25s;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: #9ba4d0;
}

/* ****************************************
                 HERO
**************************************** */
.section-hero {
  /* padding: 6.4rem 0 9.6rem 0; */
  background-color: #1d1649;
}

.hero__container {
  /* background-color: #5968b1; */
  background: rgb(89, 104, 177);
  background: linear-gradient(
    90deg,
    rgba(89, 104, 177, 1) 25%,
    rgba(48, 37, 121, 1) 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
}

.hero {
  max-width: 130rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  align-items: center;
}

.hero__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  color: #121523;
}

.sub-heading {
  font-weight: 400;
  color: #1b1f35;
}

/* ****************************************
                 ABOUT
**************************************** */

.section-about {
  /* background-color: #5968b1; */
  background-color: #1d1649;
  padding: 9.6rem 0 6.4rem 0;
  color: #fff;
}

.about__container {
  background-color: #1d1649;
  /* clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 28%); */
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.about-img-box {
  width: 50rem;
  height: 60rem;
  text-align: center;
}

.about-img-box img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  animation: waving-hand 10s infinite;
  transform-origin: 70% 70%;
}

/* .heading-primary--about {
  color: #fff;
} */

.about__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  color: #fff;
  /* text-align: center; */
}

.about__description {
  font-size: 2.3rem;
  line-height: 1.6;
}

.about-emoji {
  font-size: 4.6rem;
  margin-right: 2rem;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(14deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(14deg);
  }
  55% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(14deg);
  }
  65% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

/* ****************************************
                 PROJECTS
**************************************** */

.section-projects {
  background-color: #130f30;
  padding: 9.6rem 0 6.4rem 0;
  color: #fff;
}

.projects-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary--projects {
  margin-bottom: 6.4rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.projects__item {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  /* height: 20rem; */
  border-radius: 2rem;
}

.project-description {
  color: #d6d3e4;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.project-description--text {
  margin-bottom: 3.2rem;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  color: #d6d3e4;
  font-weight: 400;
}

.project-img {
  max-width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: 350ms ease-in-out;
}

.project-img:hover {
  transition: 350ms ease-in-out;
  transform: scale(1.05);
}

.tech-span {
  font-weight: 400;
  margin-left: 1.2rem;
  font-size: 2rem;
}

.tech-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  gap: 2rem;
}

ion-icon {
  font-size: 2.4rem;
}

.aligner {
  display: flex;
  align-items: center;
}

/* ****************************************
                 FOOTER
**************************************** */

.footer {
  background-color: #0e0b24;
  padding: 3.6rem 0 3.6rem 0;
  color: #fff;
}
