/* ****************************************
                 HEADER
**************************************** */
.header {
  background-color: var(--main-light);
  padding: 0 3.2rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header--logo {
  height: 7rem;
  /* margin-left: 4.6rem; */
}

/* ****************************************
                 NAV BAR
**************************************** */

.main-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8rem;
}

.main-nav--link:link,
.main-nav--link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-light-shade1);
  text-transform: uppercase;
  transition: all 0.25s;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: var(--main-light-tint1);
}

/* MOBILE NAVIGATION */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--main-light-shade1);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ****************************************
                 HERO
**************************************** */
.section-hero {
  /* padding: 6.4rem 0 9.6rem 0; */
  background-color: var(--main-dark-shade1);
}

.hero__container {
  background: rgb(89, 104, 177);
  background: linear-gradient(
    90deg,
    rgba(89, 104, 177, 1) 25%,
    rgba(48, 37, 121, 1) 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
}

.hero {
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  align-items: center;
}

.hero__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  color: var(--main-light-shade1);
}

.sub-heading {
  font-weight: 400;
  font-size: 4.2rem;
  color: var(--main-light-shade2);
}

.hero-img {
  width: 70%;
}

/* ****************************************
                 ABOUT
**************************************** */

.section-about {
  background-color: var(--main-dark-shade1);
  padding: 9.6rem 0;
  color: var(--normal-text);
}

.about__container {
  background-color: var(--main-dark-shade1);
  /* clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 28%); */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.about-img-box {
  text-align: center;
}

.about-img-box img {
  width: 90%;
  animation: waving-hand 12s infinite;
  transform-origin: 70% 70%;
  padding-right: 10rem;
}

.about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  color: var(--normal-text);
}

.about__description--text {
  font-size: 2.3rem;
  line-height: 1.6;
}

.about__description--skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills-header {
  font-size: 2.3rem;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  /* color: var(--main-dark-comp); */
  color: #918747;
}

.skills-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skill {
  display: flex;
  align-items: center;
  font-weight: 500;
  /* color: var(--main-dark-comp); */
  color: #f6eaa0;
}

.about-emoji {
  display: inline-block;
  font-size: 3.6rem;
  margin-right: 2rem;
  text-align: center;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(14deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(14deg);
  }
  55% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(14deg);
  }
  65% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

/* ****************************************
                 PROJECTS
**************************************** */

.section-projects {
  background-color: var(--main-dark-shade2);
  padding: 9.6rem 0 6.4rem 0;
  color: var(--normal-text);
}

.projects-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary--projects {
  margin-bottom: 6.4rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12rem;
  column-gap: 6rem;
}

.projects__item {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  border-radius: 2rem;
}

.project-description {
  color: var(--main-dark-comp);
  text-align: center;
  font-weight: 500;
  margin-bottom: 4.6rem;
}

.project-description--text {
  margin-bottom: 3.2rem;
  font-size: 2.3rem;
  line-height: 1.6;
  text-align: center;
  color: var(--light-text);
  font-weight: 400;
}

.project-img {
  max-width: 100%;
  cursor: pointer;
  margin-bottom: 3.2rem;
  transition: 350ms ease-in-out;
}

.project-img:hover {
  transition: 350ms ease-in-out;
  transform: scale(1.05);
}

.tech-span {
  font-weight: 400;
  margin-left: 1.2rem;
  font-size: 2rem;
}

.tech-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  gap: 2rem;
}

ion-icon {
  font-size: 2.4rem;
}

.aligner {
  display: flex;
  align-items: center;
}

/* ****************************************
                 FOOTER
**************************************** */

.footer {
  background-color: var(--main-dark-shade3);
  padding: 2rem 0;
  color: var(--normal-text);
}

.footer-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(3, 1fr);
}

.logo-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-footer {
  /* width: 70%; */
  height: 6.2rem;
}

.contact-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  height: 4rem;
  width: 4rem;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: #d6d3e4;
  /* margin-bottom: 2rem; */
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #848484;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  /* color: #555; */
  color: #d6d3e4;
}
